<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Gumflap</title>
    <link rel="stylesheet" type="text/css" href="/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
</head>

<body>

    <h1>Gumflap</h1>

    <div id="messages" class="panel">
        {% for log in logs %}
            <p><strong>{{ log.username }}</strong> {{ log.message }}</p>
        {% endfor %}
    </div>

    <form action="/message" method="post">
        <div class="three columns">
            <input type="text" placeholder="Nickname" name="username" />
        </div>

        <div class="nine columns">
            <div class="row collapse">
                <div class="eleven columns">
                    <input type="text" placeholder="Message" name="message" />
                </div>

                <div class="one columns">
                    <button class="radius small postfix button" type="submit">Say!</button>
                </div>
            </div>
        </div>
    </form>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
    <script src="/js/page.js"></script>
    <script>
        var pusher = new Pusher('{{ app['pusher.key'] }}');
        var gumflap = new Gumflap(pusher, $('form'), $('#messages'));

        {% if app.debug %}
            Pusher.log = function(message) {
                if (window.console && window.console.log) {
                    window.console.log(message);
                }
            };
        {% endif %}

        // Initialize
        gumflap.initialize();
    </script>
 
</body>
</html>
